profile = default
margin = 80
wrap-comments = true
break-separators = before
space-around-arrays = true
space-around-lists = true
space-around-records = true
break-cases = all
break-fun-decl = wrap
type-decl = sparse
